<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/"
          >Lego Collection</a
        >
      </div>

      <div class="navbar-center hidden sm:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/About">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="https://www.lego.com/en-ca/product/mini-disney-castle-40478">Mini Disney Castle</a></li>
                <li><a href="https://www.lego.com/en-ca/product/disney-castle-43222">Disney Castle</a></li>
                <li>
                  <a href="https://www.lego.com/en-ca/product/eiffel-tower-10307">Effiel Tower</a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome</h1>
            <p class="py-6">
              Discover an extensive range of Lego products tailored to your children's preferences!
            </p>
            <a href="https://www.lego.com/en-us/kids" class="btn btn-primary"
              >Click to View Collection</a
            >
          </div>
        </div>
      </div>
      <br />
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              class="w-full"
              src="https://www.lego.com/cdn/cs/set/assets/blt20f45ab2133fd6a3/40638_alt3.png?format=webply&fit=bounds&quality=60&width=800&height=800&dpr=2"
              alt="Icons Set"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Heart Ornamnet</h2>
            <p>
              IEncourage creativity in children aged 9+ with the LEGO® Heart Ornament set. After assembly, it becomes a lovely decoration for various occasions like Valentine’s Day, Mother’s Day, or Father’s Day. The kit comprises 254 pieces, a hanger, and extra accessories for customization. It includes inspiring images and makes a thoughtful seasonal gift.
            </p>
            <div class="card-actions justify-end">
              <a href="https://www.lego.com/en-ca/product/heart-ornament-40638" class="btn btn-primary">Purchase Now</a>
            </div>
          </div>
        </div>

        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              class="w-full"
              src="https://www.lego.com/cdn/cs/set/assets/bltc85712d57438db79/10266_alt5.jpg?format=webply&fit=bounds&quality=60&width=800&height=800&dpr=2"
              alt="Basic Set"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">NASA Apollo 11 Lunar Lander
            </h2>
            <p>
              Explore an extraordinary centerpiece: the authentic Apollo 11 lunar lander replica. Delve into its intricate construction, revealing the makeup of the real-world spacecraft.
            </p>
            <div class="card-actions justify-end">
              <a href="https://www.lego.com/en-ca/product/nasa-apollo-11-lunar-lander-10266?icmp=LP-SHH-Tall-Space_HB_Tall_Tranquility_Base_here-TH-NO-R17CGTCVXD" class="btn btn-primary">Purchase Now</a>
            </div>
          </div>
        </div>

        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              class="w-full"
              src="https://www.lego.com/cdn/cs/set/assets/blt0258a304e9bb35f5/21323_alt5.jpg?format=webply&fit=bounds&quality=60&width=800&height=800&dpr=2"
              alt="Grand Piano"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Dive into Music With Grand Piano</h2>
            <p>Set that play peace using Piano</p>
            
            <div class="card-actions justify-end">
              <a href="https://www.lego.com/en-ca/product/grand-piano-21323" class="btn btn-primary">Purchase Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
